{{!< plain}}
<div class="lights-container">
	{{#each groups}}
		<div class="light-col">
			<p class="title">{{this.name}}</p>
			<input type="checkbox" class="js-switch" data-id="{{this.mac}}"/>
		</div>
	{{/each}}
</div>
