{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Sync Travel Data</h1>
		<button type="button" name="button" id="sync">Fetch &amp; Sync</button>
	</div>
</div>
